// COLOR PALETTE
$white:  #ece7ee;
$black: #030b38;
$red: #a01031;
$green: #067a02;
$silver: #C0C0C0;
$gold: #fbff18;
$blue: #225d85;

// GOOGLE FONT 
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
* {font-family: 'Mountains of Christmas', cursive;}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    background-repeat: no-repeat;
    background:linear-gradient(180deg, $blue 0%, $blue 44%, $white 100%);
}

// TITLE MERRY KRAMPUS 
h1 {
    margin: 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: .25rem 0 $white;
    background: repeating-linear-gradient(
        45deg,
        $red,
        $red .75rem,
        $white .75rem,
        $white 1.50rem
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: 44s linear 0s infinite move;
}
@keyframes move {
    from {
        background-position: 0px;
    }
    to {
        background-position: 1000px;
    }
}

// LIGHTS
$light-width: 10px;
$light-height: 25px;

.lights {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 25px;
    padding: 0;
  li {
    display: inline-block;
    list-style: none;
    // BULBS
    width: $light-width;
    height: $light-height;
    margin: 5px 25px;
    padding: 0;
    border-radius: 50%;
    // BULB TOPS
    &:before {
        content: "";
        position: absolute;
        background: $silver;
        width: ($light-width);
        height: ($light-height/2);
        border-radius: 2px;
        top: (2 - ($light-height/5));
    }  
  }
}
    .blue {
        background: blue;
        border: 1px solid blue;
        box-shadow: 0px 5px 10px rgb(0, 183, 255);

        animation: flash-blue 2s infinite;
    }
    .red {
        background: red;
        border: 1px solid red;
        box-shadow: 0px 5px 10px rgb(255, 0, 98);

        animation: flash-red 2s infinite;
    }
    .green {
        background: #2ad32a;
        border: 1px solid #2ad32a;
        box-shadow: 0px 5px 10px rgb(76, 255, 76);

        animation: flash-green 2s infinite;
    }
    .purple {
        background: #9a09ee;
        border: 1px solid #9a09ee;
        box-shadow: 0px 5px 10px rgb(234, 78, 255);

        animation: flash-purple 2s infinite;
    }
    .yellow {
        background: yellow;
        border: 1px solid yellow;
        box-shadow: 0px 5px 10px rgb(255, 228, 73);

        animation: flash-yellow 2s infinite;
    }
@keyframes flash-blue {
    0%, 100% {box-shadow: 0px 5px 10px blue;} 
    50% {box-shadow: 0px 5px 10px $silver;}
}
@keyframes flash-red {
    0%, 100% {box-shadow: 0px 5px 10px red;} 
    50% {box-shadow: 0px 5px 10px $silver;}
}
@keyframes flash-green {
    0%, 100% {box-shadow: 0px 5px 10px #2ad32a;} 
    50% {box-shadow: 0px 5px 10px $silver;}
}
@keyframes flash-purple {
    0%, 100% {box-shadow: 0px 5px 10px #9a09ee;} 
    50% {box-shadow: 0px 5px 10px $silver;}
}
@keyframes flash-yellow {
    0%, 100% {box-shadow: 0px 5px 10px yellow;} 
    50% {box-shadow: 0px 5px 10px $silver;}
}

// SNOW IMAGE 
.snow {
    z-index: -1;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

// PRESENT 
.present {
    
}
    .lid {

    }
    .box {

    }

// TREE
.tree {

}

// COPYRIGHT
.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:$white;
    text-shadow:1px 1px 10px $gold;
  }