// COLOR PALETTE
$white:  #ece7ee;
$black: #030b38;
$red: #a01031;
$green: #067a02;
$silver: #C0C0C0;
$gold: #fbff18;
$blue: #225d85;

// GOOGLE FONT 
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
* {font-family: 'Mountains of Christmas', cursive;}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    background-repeat: no-repeat;
    background:linear-gradient(180deg, $blue 0%, $blue 44%, $white 100%);
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: .25rem 0 $white;
    background: repeating-linear-gradient(
        45deg,
        $red,
        $red .75rem,
        $white .75rem,
        $white 1.50rem
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: 44s linear 0s infinite move;
}
@keyframes move {
    from {
        background-position: 0px;
    }
    to {
        background-position: 1000px;
    }
}

.lid {

}

.present {
    
}

/* COPYRIGHT */
.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:$white;
    text-shadow:1px 1px 10px $gold;
  }