@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
* {
  font-family: 'Mountains of Christmas', cursive;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ece7ee;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(#225d85), color-stop(44%, #225d85), to(#ece7ee));
  background: linear-gradient(180deg, #225d85 0%, #225d85 44%, #ece7ee 100%);
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 0.25rem 0 #ece7ee;
  background: repeating-linear-gradient(45deg, #a01031, #a01031 0.75rem, #ece7ee 0.75rem, #ece7ee 1.5rem);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: 44s linear 0s infinite move;
          animation: 44s linear 0s infinite move;
}

@-webkit-keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

.lights {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 25px;
  padding: 0;
}

.lights li {
  display: inline-block;
  list-style: none;
  width: 10px;
  height: 25px;
  margin: 5px 25px;
  padding: 0;
  border-radius: 50%;
}

.lights li:before {
  content: "";
  position: absolute;
  background: #C0C0C0;
  width: 10px;
  height: 12.5px;
  border-radius: 2px;
  top: -3px;
}

.blue {
  background: blue;
  border: 1px solid blue;
  -webkit-box-shadow: 0px 5px 10px #00b7ff;
          box-shadow: 0px 5px 10px #00b7ff;
  -webkit-animation: flash-blue 2s infinite;
          animation: flash-blue 2s infinite;
}

.red {
  background: red;
  border: 1px solid red;
  -webkit-box-shadow: 0px 5px 10px #ff0062;
          box-shadow: 0px 5px 10px #ff0062;
  -webkit-animation: flash-red 2s infinite;
          animation: flash-red 2s infinite;
}

.green {
  background: #2ad32a;
  border: 1px solid #2ad32a;
  -webkit-box-shadow: 0px 5px 10px #4cff4c;
          box-shadow: 0px 5px 10px #4cff4c;
  -webkit-animation: flash-green 2s infinite;
          animation: flash-green 2s infinite;
}

.purple {
  background: #9a09ee;
  border: 1px solid #9a09ee;
  -webkit-box-shadow: 0px 5px 10px #ea4eff;
          box-shadow: 0px 5px 10px #ea4eff;
  -webkit-animation: flash-purple 2s infinite;
          animation: flash-purple 2s infinite;
}

.yellow {
  background: yellow;
  border: 1px solid yellow;
  -webkit-box-shadow: 0px 5px 10px #ffe449;
          box-shadow: 0px 5px 10px #ffe449;
  -webkit-animation: flash-yellow 2s infinite;
          animation: flash-yellow 2s infinite;
}

@-webkit-keyframes flash-blue {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px blue;
            box-shadow: 0px 5px 10px blue;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@keyframes flash-blue {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px blue;
            box-shadow: 0px 5px 10px blue;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@-webkit-keyframes flash-red {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px red;
            box-shadow: 0px 5px 10px red;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@keyframes flash-red {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px red;
            box-shadow: 0px 5px 10px red;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@-webkit-keyframes flash-green {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px #2ad32a;
            box-shadow: 0px 5px 10px #2ad32a;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@keyframes flash-green {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px #2ad32a;
            box-shadow: 0px 5px 10px #2ad32a;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@-webkit-keyframes flash-purple {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px #9a09ee;
            box-shadow: 0px 5px 10px #9a09ee;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@keyframes flash-purple {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px #9a09ee;
            box-shadow: 0px 5px 10px #9a09ee;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@-webkit-keyframes flash-yellow {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px yellow;
            box-shadow: 0px 5px 10px yellow;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

@keyframes flash-yellow {
  0%, 100% {
    -webkit-box-shadow: 0px 5px 10px yellow;
            box-shadow: 0px 5px 10px yellow;
  }
  50% {
    -webkit-box-shadow: 0px 5px 10px #C0C0C0;
            box-shadow: 0px 5px 10px #C0C0C0;
  }
}

.snow {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tree {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(55deg, green 5%, transparent 8%), linear-gradient(-55deg, #007600 5%, transparent 8%), linear-gradient(65deg, #006700 10%, transparent 12%), linear-gradient(-65deg, #004d00 10%, transparent 12%), linear-gradient(65deg, #006700 15%, transparent 15%), linear-gradient(-65deg, #004d00 15%, transparent 15%), linear-gradient(80deg, #5f3f21 5%, transparent 5%), linear-gradient(-80deg, #5b3c20 5%, transparent 5%);
  background-position: 100px 80px, 100px 80px, 100px 110px, 100px 110px, 100px 140px, 100px 140px, 100px 160px, 100px 160px;
}

.tree-1 {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.tree-2 {
  position: fixed;
  bottom: 0;
  right: 0;
}

.tree-3 {
  position: fixed;
  bottom: 0;
  left: 0;
}

.copyright {
  font-weight: bolder;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #a01031;
  text-shadow: 1px 1px 10px #fbff18;
}
/*# sourceMappingURL=main.css.map */